# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Electron
dist/
out/
build/
release/
temp/
tmp/
*.asar
*.asar.unpacked
report.xml

# Operating System and Editor Specific
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment Variables
.env
.env.*
config.js # or any file containing sensitive configuration

# Test and Coverage
coverage/
.nyc_output/

# Logs
logs/
*.log

# Installer related files
*-unpacked/